.container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.container :nth-child(1) {
    width: 30px;
    height: 30px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.container :nth-child(2) {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.container h4 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.793);
    margin-top: 16px;
}